.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #fff;

  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  font-size: calc(10px + 2vmin);
  color: white;
  align-items: center;
}

ul {
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
}

#home {
  text-decoration: none;
  color: black;
  font-size: 35px;
}

ul li {
  list-style: none;
}

header img {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  padding: 0px;
  margin: 0px;
}

hr {
  margin: 0px;
  color: #dadada;
  height: 0.5px;
  width: 100%;
}
.ProfilePic {
  width: 50px;
  height: 50px;
  background: linear-gradient(
    to right,
    #8a3ab9,
    #e95950,
    #bc2a8d,
    #eedd44,
    #fccc63,
    #fbad50,
    #cd486b,
    #4c68d7
  );
  border-radius: 100%;
  position: relative;
  text-align: center;
  padding: 3px;
  box-sizing: border-box;
  animation: spinner 3s linear infinite;
}
.ProfilePic::before {
  border-radius: 100%;
  content: "";
  background-image: linear-gradient(
    to left,
    #8a3ab9,
    #e95950,
    #bc2a8d,
    #eedd44,
    #fccc63,
    #fbad50,
    #cd486b,
    #4c68d7
  );
  top: -10px;
  left: -10px;
  bottom: -10px;
  right: -10px;
  position: absolute;
  z-index: -1;
  animation: spinner 3s linear infinite;
}

@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

#ProfileTop {
  display: flex;
  flex-direction: row;
  max-height: 155px;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
  /* margin-bottom: 10px; */
}

#ProfileTopRight {
  width: 100%;
  height: 100%;
  /* padding: 10%;
  background-color: #c4c4c4; */
  border-radius: 10px;
}

#ProfilePosts {
  height: 100vh;
  display: flex;
}

#posts {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.post {
  padding: 5%;
  margin-top: 5%;
  background-color: #c4c4c4;
  border-radius: 10px;
  display: flex;
}

#ProfileTopRight textarea {
  background-color: #c4c4c4;
  color: #000;
  border-radius: 10px;
  border-style: none;
}

.post p {
  margin: 0;
  height: 20px;
}
