* {
  font-family: "Inter", sans-serif;
}

header {
  top: 0;
  left: 0;
}

#logo {
  color: blue;
  margin: 0;
}

#logo span {
  position: absolute;
  font-family: "Bilbo", cursive;
  font-size: 36px;
  background: linear-gradient(
    to right,
    #8a3ab9,
    #e95950,
    #bc2a8d,
    #eedd44,
    #fccc63,
    #fbad50,
    #cd486b,
    #4c68d7
  );
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  transform: translateY(-5px);
}

body {
  margin: 0;
  font-family: "Inter", sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
